<a href="https://colab.research.google.com/github/GabrielWell/data-science-notebooks/blob/master/Python_Data_Science_Parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON PARA DATA SCIENCE - PANDAS
---

# 1. INTRODUÇÃO AO PYTHON
---

# Trabalhando com dados

In [0]:
import pandas as pd

In [0]:
dataset = pd.read_csv('db.csv', sep = ';')  #Pararâmetro que define o separador
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [0]:
#Mostra o tipo de dado equivalente a cada coluna (strings são descritas como object)
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [0]:
#Exibir conjuntos de opreações estatísticas
#Como mais de um elemento da tabela será usado, usa-se colchetes duplos
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [0]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# 2. TRABALHANDO COM TUPLAS
---

#Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

# Seleções em tuplas

In [0]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [0]:
nomes_carros[-1]  #Primeiro elemento do final pro começo

'DS5'

In [0]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [0]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [0]:
nomes_carros[-1][2]

'C4'

# Iterando em tuplas

In [0]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [0]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [0]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [0]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [0]:
carro_1

'Jetta Variant'

In [0]:
carro_2

'Passat'

In [0]:
carro_3

'Crossfox'

In [0]:
carro_4

'DS5'

In [0]:
#Underline pode ser usado paa ignorar um elemento de uma tupla
_, a, _, b = nomes_carros

In [0]:
a

'Passat'

In [0]:
b

'DS5'

In [0]:
#Captura somente o segundo elemento, o resto da tupla ignora
_, c, *_ = nomes_carros
c

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [0]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [0]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [0]:
#Zip faz uma interação entre listas ou tuplas
#List pega o itearador e transforma numa nova tupla
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [0]:
for item in zip(carros, valores):
  print(item[0])

Jetta Variant
Passat
Crossfox
DS5

In [0]:
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [0]:
#Mesma proposta da de cima, mas separando os itens da lista de forma individuais pra cada grupo
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [0]:
#Retornar os elementos com valor maior que cem mil
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro)

Passat
DS5

# 3. TRABALHANDO COM DICIONÁRIOS
---

# Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [0]:
#Mesma ideia de Json

In [0]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [0]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [0]:
dados = {'Jetta Variant': 88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [0]:
type(dados)

dict

### Criando dicionários com *zip()*

In [0]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [0]:
#Outra forma de criar um dicionário, utilizando dict
dados = dict(zip(carros, valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# Operações com dicionários

In [0]:
dados = {'Jetta Variant': 88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [0]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [0]:
'Passat' in dados

True

In [0]:
'Fusca' in dados

False

In [0]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [0]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [0]:
dados['DS5'] = 99000.00

In [0]:
dados

{'Crossfox': 72832.16,
 'DS5': 99000.0,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [0]:
del dados['DS5']

In [0]:
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [0]:
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [0]:
dados.update({'DS5': 99000.0})
dados

{'Crossfox': 72832.16,
 'DS5': 99000.0,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *dict.copy()*

Cria uma cópia do dicionário.

In [0]:
dadosCopy = dados.copy()

In [0]:
dadosCopy

{'Crossfox': 72832.16,
 'DS5': 99000.0,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [0]:
del dadosCopy['DS5']

In [0]:
dadosCopy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [0]:
dados

{'Crossfox': 72832.16,
 'DS5': 99000.0,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [0]:
dadosCopy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [0]:
#dadosCopy.pop('Passat')

106161.94

In [0]:
dadosCopy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

In [0]:
#Utilizando o pop para remover itens, pode-se fazer tratamento de erros. Nesse caso, como a key Passat já foi removida (acima), ele geraria um erro se tentasse remover de novo.
#Para tratar o erro, um segundo parâmetro pode ser definido na funçaõ pop
dadosCopy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [0]:
dadosCopy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

In [0]:
dados

{'Crossfox': 72832.16,
 'DS5': 99000.0,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *dict.clear()*

Remove todos os itens do dicionário.

In [0]:
dadosCopy.clear()

In [0]:
dadosCopy

{}

# Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [0]:
dados = {'Jetta Variant': 88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [0]:
dados.keys()

dict_keys(['Jetta Variant', 'Passat', 'Crossfox'])

In [0]:
#Retornar o valor de cada chave
for key in dados.keys():
  print(dados[key])

88078.64
106161.94
72832.16

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [0]:
#Mesmo resultado do for acima, porém mais simples
dados.values()

dict_values([88078.64, 106161.94, 72832.16])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [0]:
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)])

In [0]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)

In [0]:
for chave, valor in dados.items():
  print(chave, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16

In [0]:
for chave, valor in dados.items():
  if(valor < 100000):
    print(chave)

Jetta Variant
Crossfox

# 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [0]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [0]:
#Adicionar valores de um dicionário em um novo array 
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [0]:
#Fazer a soma dos valores 
soma = 0
for valor in dados.values():
  soma += valor
soma

267072.74

In [0]:
#Mesmo resultado do de cima, porém utilizando uma built-in function
valores = list(dados.values())
valores

[88078.64, 106161.94, 72832.16]

In [0]:
#Mesmo resultado do de cima, porém utilizando uma built-in function
soma = sum(valores)
soma

267072.74

In [0]:
#Outra forma de se fazer
soma = sum(dados.values())
soma

267072.74

In [0]:
#Forma de conhecer mais detalhes da função (abre o Help)
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [0]:
def media():
  valor = (1 + 2 + 3) / 2
  print(valor)

In [0]:
media()

3.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [0]:
def media(n1, n2, n3):
  valor = (n1 + n2 + n3) / 3
  print(valor)

In [0]:
media(25, 15, 30)

23.333333333333332

In [0]:
lista = [88078.64, 106161.94, 72832.16]

In [0]:
def media(list):
  valor = sum(lista)
  print(valor)

In [0]:
resultado = media(lista)

267072.74

In [0]:
resultado
#Não retorna nada porque a função media() não tem return

In [0]:
type(resultado)

NoneType

# Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [0]:
def media(lista):
  valorMedia = sum(lista) / len(lista)
  return valorMedia

In [0]:
media([1,2,3,4,5,6,7,8,9])

5.0

In [0]:
resultado = media([1,2,3,4,5,6,7,8,9])

In [0]:
resultado

5.0

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [0]:
#Função com múltiplos itens no retorno(tupla)
def media(lista):
  valorMedia = sum(lista) / len(lista)
  return (valorMedia, len(lista))

In [0]:
valoresCarros = [88078.60, 106161.90, 72832.10]

In [0]:
media(valoresCarros)

(89024.2, 3)

In [0]:
#Atribuir uma variável a cada elemento do retorno da função
valor, tamanho = media(valoresCarros)

In [0]:
valor

89024.2

In [0]:
tamanho

3

# 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# Estruturas de dados

In [0]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [0]:
carros = ['Jetta Variant' , 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [0]:
pd.Series(carros)
#O pandas interpreta Strings como object

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [0]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [0]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [0]:
#Mudar a ordem dos rótulos das colunas
dataset[['Nome', 'Motor', 'Ano', 'Valor', 'Quilometragem', 'Zero_km']]

            Nome            Motor   Ano      Valor  Quilometragem  Zero_km
0  Jetta Variant  Motor 4.0 Turbo  2003   88078.64        44410.0    False
1         Passat     Motor Diesel  1991  106161.94         5712.0    False
2       Crossfox  Motor Diesel V8  1990   72832.16        37123.0    False

### Criando um DataFrame a partir de um dicionário

In [0]:
#Organizado em forma de listas dentro de um dicionário
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [0]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [0]:
dataset = pd.read_csv('db.csv', sep = ';')
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [0]:
dataset = pd.read_csv('db.csv', sep = ';', index_col=0)   #Coloca a primeira coluna com o índice (como se fosse id). Por default, o index é criado com numérico
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

# Seleções com DataFrames

In [0]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

### Selecionando colunas

In [0]:
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [0]:
type(dataset['Valor'])
#Series

pandas.core.series.Series

In [0]:
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [0]:
type(dataset[['Valor']])
#DataFrame

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [0]:
dataset[0:3]

                         Motor  ...      Valor
Nome                            ...
Jetta Variant  Motor 4.0 Turbo  ...   88078.64
Passat            Motor Diesel  ...  106161.94
Crossfox       Motor Diesel V8  ...   72832.16

[3 rows x 6 columns]

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [0]:
dataset.loc['Passat']
#Interpretado como DataFrame

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [0]:
#Para retornar mais de um índice, deve utilizar DataFrame
dataset.loc[['Passat', 'DS5']]

                  Motor  ...      Valor
Nome                     ...
Passat     Motor Diesel  ...  106161.94
DS5     Motor 2.4 Turbo  ...  124549.07

[2 rows x 6 columns]

In [0]:
dataset.loc[['Passat', 'DS5'], ['Ano', 'Valor']]
#A primeira lista define quais linhas e a segunda quais colunas, a serem retornadas

         Ano      Valor
Nome
Passat  1991  106161.94
DS5     2019  124549.07

In [0]:
dataset.loc[:, ['Ano', 'Valor']]
#Retorna todas as linhas e as colunas definidas

                        Ano      Valor
Nome
Jetta Variant          2003   88078.64
Passat                 1991  106161.94
Crossfox               1990   72832.16
DS5                    2019  124549.07
Aston Martin DB4       2006   92612.10
...                     ...        ...
Phantom 2013           2014   51759.58
Cadillac Ciel concept  1991   51667.06
Classe GLK             2002   68934.03
Aston Martin DB5       1996  122110.90
Macan                  1992   90381.47

[258 rows x 2 columns]

In [0]:
dataset.loc[['Passat', 'Crossfox', 'DS5'], :]
#Retorna as linhas definas e todas as colunas

                    Motor  ...      Valor
Nome                       ...
Passat       Motor Diesel  ...  106161.94
Crossfox  Motor Diesel V8  ...   72832.16
DS5       Motor 2.4 Turbo  ...  124549.07

[3 rows x 6 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [0]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [0]:
#Retorna os valores através de seus índices numéricos
dataset.iloc[[1]]

               Motor  ...      Valor
Nome                  ...
Passat  Motor Diesel  ...  106161.94

[1 rows x 6 columns]

In [0]:
dataset.iloc[1:4]

                    Motor  ...      Valor
Nome                       ...
Passat       Motor Diesel  ...  106161.94
Crossfox  Motor Diesel V8  ...   72832.16
DS5       Motor 2.4 Turbo  ...  124549.07

[3 rows x 6 columns]

In [0]:
dataset.iloc[1:4, 0:4]

                    Motor   Ano  Quilometragem  Zero_km
Nome
Passat       Motor Diesel  1991         5712.0    False
Crossfox  Motor Diesel V8  1990        37123.0    False
DS5       Motor 2.4 Turbo  2019            NaN     True

In [0]:
dataset.iloc[1:4, [0, 1, 5]]

                    Motor   Ano      Valor
Nome
Passat       Motor Diesel  1991  106161.94
Crossfox  Motor Diesel V8  1990   72832.16
DS5       Motor 2.4 Turbo  2019  124549.07

# Queries com DataFrames

In [0]:
#Trazer todos os elementos da coluna Motor
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [0]:
dataset.Motor == 'Motor Diesel'

Nome
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [0]:
select = dataset.Motor == 'Motor Diesel'
select

Nome
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [0]:
type(select)

pandas.core.series.Series

In [0]:
#Trazer os resultados que somente tem o valor especificado na variável select
dataset[select]

                              Motor  ...      Valor
Nome                                 ...
Passat                 Motor Diesel  ...  106161.94
Effa Hafei Picape Baú  Motor Diesel  ...  125684.65
Sorento                Motor Diesel  ...   81399.35
New Fiesta Hatch       Motor Diesel  ...   66007.16
Kangoo Express         Motor Diesel  ...  146716.91
Fit                    Motor Diesel  ...   77836.23
Cielo Hatch            Motor Diesel  ...  145197.70
Symbol                 Motor Diesel  ...  133030.60
A4 Sedan               Motor Diesel  ...   96369.04
A4 Avant               Motor Diesel  ...  138946.88
Silver Shadow          Motor Diesel  ...  143568.22
Camry                  Motor Diesel  ...  138597.27
Clio                   Motor Diesel  ...  111130.33
Série 3 M3 Coupé       Motor Diesel  ...   69219.89
Gallardo LP 560 – 4    Motor Diesel  ...  144118.91
Chana Utility          Motor Diesel  ...  132662.32
TT Roadster            Motor Diesel  ...   85311.40
Aston Martin Virage    Motor Diesel  ...   97290.18
Sandero                Motor Diesel  ...  112350.61
XKR                    Motor Diesel  ...   54263.16
X5                     Motor Diesel  ...   62041.32
Dodge Dakota           Motor Diesel  ...  141083.35
i30 CW                 Motor Diesel  ...   73311.75
Série 7 Sedã           Motor Diesel  ...   67539.79
V60                    Motor Diesel  ...  114728.74
Aston Martin DB5       Motor Diesel  ...  122110.90

[26 rows x 6 columns]

In [0]:
#Método para retornar com mais de uma condição
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

### Utilizando o método query

In [0]:
#Em aspas dentro de aspas, a externa é simples e as internas são duplas. Substitui o & por and e a | por or
dataset.query('Ano == "Motor Diesel" and Zero_km == True')

Empty DataFrame
Columns: [Motor, Ano, Quilometragem, Zero_km, Acessórios, Valor]
Index: []

# Iterando com DataFrames

In [0]:
dataset = pd.read_csv('db.csv', sep = ';', index_col=0)   #Coloca a primeira coluna com o índice (como se fosse id). Por default, o index é criado com numérico
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

In [0]:
#Cria uma lista composta por tuplas de cada linha do arquivo
list(dataset.iterrows())

In [0]:
#Calcular a kilometragem media de cada veículo e criar uma coluna para isso
for indice, linha in dataset.iterrows():
  if(2019 - linha['Ano'] != 0):   #Cáculo da idade do veículo
    dataset.loc[indice, 'Km_media']  = linha['Quilometragem'] / (2019 - linha['Ano'])   #Cria uma nova coluna com rótulo Km_media e calculo o valor através da fórmula
  else:
    dataset.loc[indice, 'Km_media'] = 0   #Se a idade do carro for zero, a km_media também é

dataset

                                       Motor   Ano  ...      Valor     Km_media
Nome                                                ...
Jetta Variant                Motor 4.0 Turbo  2003  ...   88078.64  2775.625000
Passat                          Motor Diesel  1991  ...  106161.94   204.000000
Crossfox                     Motor Diesel V8  1990  ...   72832.16  1280.103448
DS5                          Motor 2.4 Turbo  2019  ...  124549.07     0.000000
Aston Martin DB4             Motor 2.4 Turbo  2006  ...   92612.10  1981.307692
...                                      ...   ...  ...        ...          ...
Phantom 2013                        Motor V8  2014  ...   51759.58  5501.000000
Cadillac Ciel concept               Motor V8  1991  ...   51667.06  1070.750000
Classe GLK             Motor 5.0 V8 Bi-Turbo  2002  ...   68934.03  3096.294118
Aston Martin DB5                Motor Diesel  1996  ...  122110.90   334.130435
Macan                        Motor Diesel V6  1992  ...   90381.47  1858.814815

[258 rows x 7 columns]

# Tratamento de dados

In [0]:
dataset = pd.read_csv('db.csv', sep=';', index_col=0)

In [0]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [0]:
dataset.info()
#Vê-se que a coluna Quilometragem existem menos elementos que as outras

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(2)
memory usage: 22.3+ KB

In [0]:
dataset.Quilometragem.isna()  #Define como True valores não numéricos (ou que sejam 0)

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [0]:
#Retorna um dataframe filtrando os elementos que tenham Quilometragem NaN
dataset[dataset.Quilometragem.isna()]

                                Motor  ...      Valor
Nome                                   ...
DS5                   Motor 2.4 Turbo  ...  124549.07
A5                    Motor 4.0 Turbo  ...   56445.20
J5                           Motor V6  ...   53183.38
A3                       Motor 1.0 8v  ...   88552.39
Série 1 M                    Motor V8  ...   94564.40
...                               ...  ...        ...
Lamborghini Reventón  Motor 4.0 Turbo  ...   67664.86
Benni Mini                   Motor V8  ...  126247.84
Uno                   Motor Diesel V6  ...  128852.21
Santa Fe                Motor 3.0 32v  ...  129415.33
XC60                  Motor 4.0 Turbo  ...   77675.79

[61 rows x 6 columns]

In [0]:
#Função que filtra os elementos NaN e faz um tratamento. O primeiro parâmetro define o que vai ficar no lugar do nan, o segundo é o responsável por de fato salvar essa alteração
dataset.fillna(0, inplace=True)
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

In [0]:
dataset.query('Zero_km == True')

                                Motor  ...      Valor
Nome                                   ...
DS5                   Motor 2.4 Turbo  ...  124549.07
A5                    Motor 4.0 Turbo  ...   56445.20
J5                           Motor V6  ...   53183.38
A3                       Motor 1.0 8v  ...   88552.39
Série 1 M                    Motor V8  ...   94564.40
...                               ...  ...        ...
Lamborghini Reventón  Motor 4.0 Turbo  ...   67664.86
Benni Mini                   Motor V8  ...  126247.84
Uno                   Motor Diesel V6  ...  128852.21
Santa Fe                Motor 3.0 32v  ...  129415.33
XC60                  Motor 4.0 Turbo  ...   77675.79

[61 rows x 6 columns]

In [0]:
dataset2 = pd.read_csv('db.csv', sep = ';')
dataset2

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [0]:
#Forma de eliminar todos os elementos que sejam NaN, passando a coluna desejada como parâmetro, além do inplace para de fato realizar a alteração
dataset2.dropna(subset = ['Quilometragem'], inplace = True)

In [0]:
dataset2

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]